body{
  background:pink ;
  display:flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.form-container{
  width:360px;
  background-color: antiquewhite;
  margin:auto;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  padding:10px;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}
.form-control{
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}